<p id="notice"><%= notice %></p>

<h1>Статті </h1>

<table>


  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= link_to 'Перегляд', article %></td>
        <% if current_user&.admin? %>
        <td><%= link_to 'Змінити', edit_article_path(article) %></td>
        <td><%= link_to 'Видалить', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user&.admin? %>
<%= link_to 'Нова стаття', new_article_path %>

    <% end %>
