<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @word.name %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @word.definition %>
</p>

<p>
  <strong>Word category:</strong>
  <%= @word.word_category.name %>
</p>

<% if current_user&.admin? %>
  <%= link_to 'Edit', edit_word_path(@word) %> |
<% end %>
<%= link_to 'Back', words_path %>
